@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.container {
    font-family: 'Roboto Mono', monospace;
}

.container h1 {
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.container p {
    font-size: 1.125rem;
    line-height: 1.5rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
    letter-spacing: .03em;
}

.content {
    padding: 2rem 1.5rem;
    height: 100%;
    text-align: justify;
    background-color: #14253d;
    border-radius: 2rem;
}

.console {
    color: limegreen;
}

.dirs {
    color: #e08ed2;
}

.zen_of_python {
    text-align: justify;
}

.contact {
    display: flex;
    justify-content: center;
}

.contact a {
    margin-top: 1.5rem;
    margin-right: 1rem;
}

@media (max-width: 46.5625rem) {
    .python {
        text-align: center;
    }
}