@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.container {
    font-family: 'Roboto Mono', monospace;
}

.container h1 {
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.content {
    padding: 2rem 1.5rem;
    font-size: 1.125rem;
    line-height: 1.5;
    height: 88vh;
    background-color: #14253d;
    border-radius: 2rem;
}

.console {
    color: limegreen;
}

.dirs {
    color: #e08ed2;
}

.zen_of_python {
    text-align: justify;
}

.contact {
    display: flex;
    justify-content: center;
}

.contact a {
    margin-top: 1.5rem;
    margin-right: 1rem;
}