.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88vh;
}

.text {
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 521px) {
  .text {
    font-size: 2rem;
  }
}