.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.grid_container {
    display: grid;
    gap: 3rem;
}

.grid_container img {
    margin: 0 auto;
    border-radius: 2rem;

}

@media (max-width: 20rem) {
    .grid_container img {
        width: 18.75rem;
        height: 11.72rem;
    }
}

@media (min-width: 37.5rem) {
    .grid_container { grid-template-columns: repeat(2, 1fr); }
  }

@media (min-width: 56.25rem) {
    .grid_container { grid-template-columns: repeat(3, 1fr); }
}